<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @oficina.number %>
</p>

<p>
  <strong>Edificio:</strong>
  <%= @oficina.edificio_id_id %>
</p>

<%= link_to 'Edit', edit_oficina_path(@oficina) %> |
<%= link_to 'Back', oficinas_path %>
